@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model _123.InventoryViewModel

<div class="card mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin Tồn kho</h6>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-info" style="margin: 10px 40px 0;" data-toggle="modal" data-target="#inventory-add" 
        data-url="@Url.Action($"Add")">Thêm mới</button>
        @await Html.PartialAsync("/Views/Admin/inventoryadd.cshtml", @Model.Inventory)
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered styled-table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên Sản phẩm</th>
                        <th>Số lượng trong kho</th>
                        <th>Ngày cập nhật</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Inventories.Count(); i++)
                    {
                        <tr>
                            <td>@(i + 1)</td> <!-- Index -->
                            <td>@(Model.Inventories[i].Product?.ProductName ?? "N/A")</td>
                            <td>@Model.Inventories[i].QuantityInStock</td>
                            <td>@Model.Inventories[i].LastUpdated.ToString("dd/MM/yyyy")</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary update-button" data-toggle="modal" data-target="#inventory-@Model.Inventories[i].InventoryId" data-url="@Url.Action($"Edit/{@Model.Inventories[i].InventoryId}")">
                                    <i class="material-icons" style="font-size: 14px">border_color</i>
                                </button>
                                @await Html.PartialAsync("/Views/Admin/inventoryedit.cshtml", @Model.Inventories[i])
                                <button type="button" class="btn btn-outline-danger delete-button" data-toggle="modal" data-target="#inventory-delete-@Model.Inventories[i].InventoryId" data-url="@Url.Action($"Delete/{@Model.Inventories[i].InventoryId}")">
                                    <i class="material-icons" style="font-size: 14px">delete</i>
                                </button>
                                @await Html.PartialAsync("/Views/Admin/inventorydelete.cshtml", @Model.Inventories[i])
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script> 
       
        let updateButtons = document.querySelectorAll('.update-button')
        let deleteButtons = document.querySelectorAll('.delete-button')

        if (role!=2) {
            updateButtons.forEach(button => {
                button.style.display = "none";
            }); 
            deleteButtons.forEach(button => {
                button.style.display = "none";
            });
        }
    </script>  
</div>
