@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model _123.PaymentMethodViewModel

<div class="card mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Thông tin Payment Methods</h6>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline-info" style="margin: 10px 40px 0;" data-toggle="modal" data-target="#payment-method-add" 
    data-url="@Url.Action($"Add")">Thêm mới</button>
    @await Html.PartialAsync("/Views/Admin/paymentmethodadd.cshtml", @Model.PaymentMethod)
  </div>

  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered styled-table" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>Stt</th>
                      <th>Payment Method Name</th>
                      <th>Hành động</th>

                  </tr>
              </thead>
              <tbody>
                @for (int i = 0; i < Model.PaymentMethods.Count(); i++)
                {
                    <tr>
                        <td>@(i + 1)</td> <!-- Index -->
                        <td>@Model.PaymentMethods[i].PaymentMethodName</td>
                        <td>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#payment-method-@Model.PaymentMethods[i].PaymentMethodId" data-url="@Url.Action($"Edit/{@Model.PaymentMethods[i].PaymentMethodId}")">
                                <i class="material-icons" style="font-size: 14px">border_color</i>
                            </button>
                            @await Html.PartialAsync("/Views/Admin/paymentmethodedit.cshtml", @Model.PaymentMethods[i])
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#payment-method-delete-@Model.PaymentMethods[i].PaymentMethodId" data-url="@Url.Action($"Delete/{@Model.PaymentMethods[i].PaymentMethodId}")">
                                <i class="material-icons" style="font-size: 14px">delete</i>
                            </button>
                            @await Html.PartialAsync("/Views/Admin/paymentmethoddelete.cshtml", @Model.PaymentMethods[i])
                        </td>
                    </tr>
                }
              </tbody>
          </table>
      </div>
  </div>
</div>
